<h1>Welcome to batch user uploader</h1>
<%= form_with url: "/input", method: post do |f| %>
    <% f.label :identifier, "Identifier:" %>
    <% f.identifier :identifier, class: 'form-control' %>

    <% f.label :csvfile, "CSV File:" %>
    <% f.text_field :csvfile, class: 'form-control' %>
    <% f.
<p>Find me in app/views/batchuploads/input.html.erb</p>
