
/*
 */

@import 'bootstrap';

body {
  padding-top: 60px;
}

h1 {
  text-align: center;
}

/* output */

@mixin table-div($height) {
  max-height: $height;
  width: 80%;
  margin-top: 20px;
  margin-left: 30px;
  overflow: auto;
}

.table-div-400 {
  @include table-div(400px);
}

.table-div-200 {
  @include table-div(200px);
}

.error-label {
  margin-left: 30px;
  font-size: 1.2em;
  font-style: italic;
}

.error-section {
  margin-top: 10px;
}

section.identifier-section:nth-child(n+2) {
  margin-top: 50px;
}

/* input */

#upload_form {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;

  #filename_display {
    margin: 5px;
  }

  #csvfile {
    display: none;
  }

  #filename_display {
    display: inline-block;
  }

  label {
    font-size: 1.2em;
  }
}

